<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div style = "text-align: center;">
  <h1>Sistema de consultas de indicadores financieros</h1>
  <%= form_tag("/", method: "get", multipart: true, enforce_utf8: false) do %>
    <%= label_tag(:start, "Inicio:") %>
    <input id="start" name="start" type="date" min="1990-01-01" max="<%= Date.current + 1.month %>" 
      value="<%= @start_date %>"/>
    <input id="finish" name="finish" type="date" min="1990-01-01" max="<%= Date.current + 1.month %>" 
    value="<%= @finish_date %>"/>
    <%= submit_tag("Consultar") %>
    <div style="color: red;"><%= @error %></div>
  <% end %>
  <% if @days.length > 0 %>
    <h3>UF y Dólar</h3>
    <table class="table-bordered table-condensed" style="display: -webkit-inline-box">
      <thead>
        <tr>
          <th>
            Día
          </th>
          <th>
            UF
          </th>
          <th>
            Dólar
          </th>
        </tr>
      </thead>
      <tbody>
        <% @days.each_with_index do |day, index| %>
          <tr>
            <td><%= day %></td>
            <td><%= number_with_delimiter(@ufData[index], :delimiter => ".", :separator => ",") %></td>
            <td><%= number_with_delimiter(@dollarData[index], :delimiter => ".", :separator => ",") %></td>
          </tr>
        <% end %>
        <tr>
          <td>Mínimo</td>
          <td><%= number_with_delimiter(@ufMin, :delimiter => ".", :separator => ",") %></td>
          <td><%= number_with_delimiter(@dollarMin, :delimiter => ".", :separator => ",") %></td>
        </tr>
        <tr>
          <td>Promedio</td>
          <td><%= number_with_delimiter(@ufAvg.round(2), :delimiter => ".", :separator => ",") %></td>
          <td><%= number_with_delimiter(@dollarAvg.round(2), :delimiter => ".", :separator => ",") %></td>
        </tr>
        <tr>
          <td>Máximo</td>
          <td><%= number_with_delimiter(@ufMax, :delimiter => ".", :separator => ",") %></td>
          <td><%= number_with_delimiter(@dollarMax, :delimiter => ".", :separator => ",") %></td>
        </tr>
      </tbody>
    </table>
    <h4> UF </h4>
    <%= line_chart(@ufChart, min: @ufMin - (@ufBw / 10), max:  @ufMax + (@ufBw / 10)) %>
    <h4> Dólar </h4>
    <%= line_chart(@dollarChart, min: @dollarMin - (@dollarBw / 10), max:  @dollarMax + (@dollarBw / 10)) %>
    <h3> Tasa máxima convecional </h3>
    <table class="table-bordered table-condensed" style="display: -webkit-inline-box">
      <thead>
        <tr>
          <th>
            Día
          </th>
          <th>
            No reajustables, CLP, <= 90 días, <= 5.000 UF
          </th>
          <th>
            No reajustables, CLP, <= 90 días, > 5.000 UF
          </th>
          <th>
            No reajustables, CLP, > 90 días, <= 50 UF
          </th>
          <th>
            No reajustables, CLP, > 90 días, > 50 UF, <= 200 UF
          </th>
          <th>
            No reajustables, CLP, > 90 días, > 200 UF, <= 5000 UF
          </th>
          <th>
            No reajustables, CLP, > 90 días, > 5000 UF
          </th>
          <th>
           Reajustables, CLP, < 1 año
          </th>
          <th>
           Reajustables, CLP, >= 1 año, <= 2000 UF
          </th>
          <th>
           Reajustables, CLP, >= 1 año, > 2000 UF
          </th>
          <th>
           Reajustables, moneda extranjera, <= 2000 UF
          </th>
          <th>
           Reajustables, moneda extranjera, > 2000 UF
          </th>
          <th>
           Otras
          </th>
        </tr>
      </thead>
      <tbody>
        <% @days.each_with_index do |day, index| %>
          <tr>
            <td><%= day %></td>
            <td><%= @nationalShortLow[index].to_s.gsub('.',',') %>%</td>
            <td><%= @nationalShortHigh[index].to_s.gsub('.',',') %>%</td>
            <td><%= @nationalLongVeryLow[index].to_s.gsub('.',',') %>%</td>
            <td><%= @nationalLongLow[index].to_s.gsub('.',',') %>%</td>
            <td><%= @nationalLongHigh[index].to_s.gsub('.',',') %>%</td>
            <td><%= @nationalLongVeryHigh[index].to_s.gsub('.',',') %>%</td>
            <td><%= @nationalChangeShort[index].to_s.gsub('.',',') %>%</td>
            <td><%= @nationalChangeLongLow[index].to_s.gsub('.',',') %>%</td>
            <td><%= @nationalChangeLongHigh[index].to_s.gsub('.',',') %>%</td>
            <td><%= @foreignLowTcm[index].to_s.gsub('.',',') %>%</td>
            <td><%= @foreignHighTcm[index].to_s.gsub('.',',') %>%</td>
            <td><%= @otherTcm[index].to_s.gsub('.',',') %>%</td>
          </tr>
        <% end %>
        <tr>
          <td>Mínimo</td>
          <td><%= @nationalShortLow.min.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalShortHigh.min.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalLongVeryLow.min.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalLongLow.min.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalLongHigh.min.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalLongVeryHigh.min.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalChangeShort.min.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalChangeLongLow.min.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalChangeLongHigh.min.to_s.gsub('.',',') %>%</td>
          <td><%= @foreignLowTcm.min.to_s.gsub('.',',') %>%</td>
          <td><%= @foreignHighTcm.min.to_s.gsub('.',',') %>%</td>
          <td><%= @otherTcm.min.to_s.gsub('.',',') %>%</td>
        </tr>
        <tr>
          <td>Promedio</td>
          <td><%= @nationalShortLow.all? ? number_with_delimiter((@nationalShortLow.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @nationalShortHigh.all? ? number_with_delimiter((@nationalShortHigh.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @nationalLongVeryLow.all? ? number_with_delimiter((@nationalLongVeryLow.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @nationalLongLow.all? ? number_with_delimiter((@nationalLongLow.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @nationalLongHigh.all? ? number_with_delimiter((@nationalLongHigh.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @nationalLongVeryHigh.all? ? number_with_delimiter((@nationalLongVeryHigh.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @nationalChangeShort.all? ? number_with_delimiter((@nationalChangeShort.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @nationalChangeLongLow.all? ? number_with_delimiter((@nationalChangeLongLow.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @nationalChangeLongHigh.all? ? number_with_delimiter((@nationalChangeLongHigh.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @foreignLowTcm.all? ? number_with_delimiter((@foreignLowTcm.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @foreignHighTcm.all? ? number_with_delimiter((@foreignHighTcm.sum /  @count).round(2), delimiter: '.', separator: ',') : '' %>%</td>
          <td><%= @otherTcm.all? ? number_with_delimiter((@otherTcm.sum /  @count).round(2), delimiter: '.', separator: ',') : ''%>%</td>
        </tr>
        <tr>
          <td>Máximo</td>
          <td><%= @nationalShortLow.max.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalShortHigh.max.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalLongVeryLow.max.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalLongLow.max.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalLongHigh.max.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalLongVeryHigh.max.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalChangeShort.max.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalChangeLongLow.max.to_s.gsub('.',',') %>%</td>
          <td><%= @nationalChangeLongHigh.max.to_s.gsub('.',',') %>%</td>
          <td><%= @foreignLowTcm.max.to_s.gsub('.',',') %>%</td>
          <td><%= @foreignHighTcm.max.to_s.gsub('.',',') %>%</td>
          <td><%= @otherTcm.max.to_s.gsub('.',',') %>%</td>
        </tr>
      </tbody>
    </table>
    <%= line_chart(@tmcChart) %>
  <% end%>
</div>
